<div class="container-fluid mt-4 mb-4">
      <div class="row">
        <div class="col d-flex justify-content-center ">
          <h4>Datos de Beneficiario</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-7 mx-auto">
          <form action="/links/adddelivery/{{newLinksBenef.ID_BENEFICIARIO}}" method="POST">
                 <div class="form-group row">
          <label class="col-3 col-form-label" for="fullname">Nombre de beneficiario:</label>
          <input disabled type="text" class="col-9 form-control rounded-pill shadow-input" name="" id="fullname"
            value="{{newLinksBenef.NOMBRE}} {{newLinksBenef.APELLIDO_PATERNO}} {{newLinksBenef.APELLIDO_MATERNO}}">
        </div>
        <div class="form-group row">
          <label for="ESTATUS_ENTREGA" class="col-3 col-form-label">Registrar entrega</label>
          <select class="shadow-input col-9 form-control rounded-pill" name="ESTATUS_ENTREGA" id="inlineFormCustomSelectPref">
            <option selected></option>
            <option value="ENTREGADO">ENTREGADO</option>
          </select>
        </div>

        <div class="form-group row">
          <button class="btn btn-info btn-block">
            Registrar entrega
          </button>
        </div>
        <div class="collapse" id="complete">
          <div class="form-group row">
            <label for="CURP" class="col-3 col-form-label">CURP</label>
            <input type="text" value="{{newLinksBenef.CURP}}" class=" shadow-input col-9 form-control rounded-pill" name="CURP"
              placeholder="CURP"  readonly>
          </div>
          <div class="form-group row">
            <label for="NOMBRE" class="col-3 col-form-label">Nombre(s)</label>
            <input type="text" value="{{newLinksBenef.NOMBRE}}" class="shadow-input col-9 form-control rounded-pill" name="NOMBRE"
              placeholder="Nombre(s)" readonly>
          </div>
          <div class="form-group row">
            <label for="APELLIDO_PATERNO" class="col-3 col-form-label">Apellido Paterno</label>
            <input type="text" value="{{newLinksBenef.APELLIDO_PATERNO}}" class="shadow-input col-9 form-control rounded-pill"
              name="APELLIDO_PATERNO" placeholder="Apellido Paterno" 
              readonly>
          </div>
          <div class="form-group row">
            <label for="APELLIDO_MATERNO" class="col-3 col-form-label">Apellido Materno</label>
            <input type="text" value="{{newLinksBenef.APELLIDO_MATERNO}}" class="shadow-input col-9 form-control rounded-pill"
              name="APELLIDO_MATERNO" placeholder="Apellido Materno"
              readonly>
          </div>
          <div class="form-group row">
            <label for="TEL_CASA" class="col-3 col-form-label">Teléfono de casa</label>
            <input type="number" value="{{newLinksBenef.TEL_CASA}}" class="shadow-input col-9 form-control rounded-pill"
              name="TEL_CASA" placeholder="Telefono de casa" readonly>
          </div>
          <div class="form-group row">
            <label for="TEL_CELULAR" class="col-3 col-form-label">Teléfono celular</label>
            <input type="number" value="{{newLinksBenef.TEL_CELULAR}}" class="shadow-input col-9 form-control rounded-pill"
              name="TEL_CELULAR" placeholder="Telefono celular" 
              readonly>
          </div>
          <div class="form-group row">
            <label for="CORREO" class="col-3 col-form-label">Correo</label>
            <input type="email" value="{{newLinksBenef.CORREO}}" class="shadow-input col-9 form-control rounded-pill" name="CORREO"
              placeholder="Correo" readonly>
          </div>
          <div class="form-group row">
            <label for="PROGRAMA" class="col-3 col-form-label">Programa</label>
            <input type="text" value="{{newLinksBenef.PROGRAMA}}" class="shadow-input col-9 form-control rounded-pill"
              name="PROGRAMA" placeholder="Programa"  readonly>
          </div>
          <div class="form-group row">
            <label for="CALLE" class="col-3 col-form-label">Calle</label>
            <input type="text" value="{{newLinksBenef.CALLE}}" class="shadow-input col-9 form-control rounded-pill" name="CALLE"
              placeholder="Calle" readonly>
          </div>
          <div class="form-group row">
            <label for="NUM_EXT" class="col-3 col-form-label">Número exterior</label>
            <input type="number" value="{{newLinksBenef.NUM_EXT}}" class="shadow-input col-9 form-control rounded-pill" name="NUM_EXT"
              placeholder="Número exterior" readonly>
          </div>
          <div class="form-group row">
            <label for="NUM_INT" class="col-3 col-form-label">Número interior</label>
            <input type="number" value="{{newLinksBenef.NUM_INT}}" class="shadow-input col-9 form-control rounded-pill" name="NUM_INT"
              placeholder="Número interior" readonly>
          </div>
          <div class="form-group row">
            <label for="COLONIA" class="col-3 col-form-label">Colonia</label>
            <input type="text" value="{{newLinksBenef.COLONIA}}" class="shadow-input col-9 form-control rounded-pill" name="COLONIA"
              placeholder="Colonia"  readonly>
          </div>
          <div class="form-group row">
            <label for="CODIGO_POSTAL" class="col-3 col-form-label">Código postal</label>
            <input type="text" value="{{newLinksBenef.CODIGO_POSTAL}}" class="shadow-input col-9 form-control rounded-pill"
              name="CODIGO_POSTAL" placeholder="Código postal"  readonly>
          </div>
          <div class="form-group row">
            <label for="MUNICIPIO" class="col-3 col-form-label">Municipio</label>
            <input type="text" class="shadow-input col-9 form-control rounded-pill" value="ZAPOPAN" name="MUNICIPIO"
              placeholder="Municipio" readonly>
          </div>
          <div class="form-group row">
            <label for="ESTADO" class="col-3 col-form-label">Estado</label>
            <input type="text" class="shadow-input col-9 form-control rounded-pill" value="JALISCO" name="ESTADO"
              placeholder="Estado"  readonly>
          </div>
          <div class="form-group row">
            <label for="SEXO" class="col-3 col-form-label">Sexo</label>
            <input type="text" value="{{newLinksBenef.SEXO}}" class="shadow-input col-9 form-control rounded-pill" name="SEXO"
              placeholder="SEXO" readonly>
          </div>

          <!-- separador -->
          <hr>
          <div class="form-group row">
            <label for="ESTATUS_ENTREGA" class="col-3 col-form-label">Resultado de entrega</label>
            <input type="text" value="{{newLinksDelivery.ESTATUS_ENTREGA}}" class="shadow-input col-9 form-control rounded-pill"
              name="ESTATUS_ENTREGA_P" placeholder=""  readonly>
          </div>

          <div class="form-group row">
            <label for="FECHA_ENTREGA" class="col-3 col-form-label">Registro entrega</label>
            <input type="text"
              value="{{#if newLinksDelivery.FECHA_ENTREGA}}{{timeago newLinksDelivery.FECHA_ENTREGA}}{{/if}}"
              class="col-9 form-control rounded-pill shadow-input" name="FECHA_ENTREGA_P" placeholder=""
             readonly>
          </div>
        </div>

        <!-- separador -->
        <hr>


        <div class="form-group row align-self-right">
          <a class="btn btn-outline-info btn-block" data-toggle="collapse" href="#complete" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            Datos completos de beneficiario
          </a>
        </div>

            
          </form>
        </div>
      </div>
    </div>
