
<div class="container m-1 mt-5">
  <div class="card">
    <div class="card-body">
      {{#if confirm}}
      <p class="card-text text-center">BENEFICIARIOS CONFIRMADOS: {{confirm.CONFIRMACION}}</p>
      {{/if}}
    </div>
  </div>
</div>

<div class="container m-1">
  <table class="table table-hover table-bordered table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CURP</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO PATERNO</th>
        <th scope="col">APELLIDO MATERNO</th>
        <th scope="col">TELEFONO CASA</th>
        <th scope="col">CELULAR</th>
        <th scope="col">CORREO</th>
        {{#if CALLE}}
        <th scope="col">PROGRAMA</th>
        <th scope="col">CALLE</th>
        <th scope="col"># EXT</th>
        <th scope="col"># INT</th>
        <th scope="col">COLONIA</th>
        <th scope="col">CODIGO POSTAL</th>
        <th scope="col">MUNICIPIO</th>
        <th scope="col">ESTADO</th>
        <th scope="col">SEXO</th>
        {{/if}}
          <th scope="col">RESULTADO DE LLAMADA</th>
          <th scope="col">CONFIRMACION</th>
          <th scope="col">REGISTRO DE LLAMADA</th>
      </tr>
    </thead>

    <tbody>
      {{#each beneficiarios}}
        <tr>
            <td class="">{{ID_BENEFICIARIO}}</td>
            <td>{{CURP}}</td>
            <td>{{NOMBRE}}</td>
            <td>{{APELLIDO_PATERNO}}</td>
            <td>{{APELLIDO_MATERNO}}</td>
            <td>{{TEL_CASA}}</td>
            <td>{{TEL_CELULAR}}</td>
            <td>{{CORREO}}</td>
            {{#if CALLE}}
            <td>{{PROGRAMA}}</td>
            <td>{{CALLE}}</td>
            <td>{{NUM_EXT}}</td>
            <td>{{NUM_INT}}</td>
            <td>{{COLONIA}}</td>
            <td>{{CODIGO_POSTAL}}</td>
            <td>{{MUNICIPIO}}</td>
            <td>{{ESTADO}}</td>
            <td>{{SEXO}}</td>
            {{/if}}
            <td>{{RESULTADO_LLAMADA}}</td>
            <td>{{CONFIRMACION}}</td>
            <td>{{#if FECHA_LLAMADA}} {{timeago FECHA_LLAMADA}} {{/if}}</td>
        </tr>
    {{/each}}
  </tbody>
  </table>
</div>
