
<div class="container m-4">
    <table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">CURP</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">APELLIDO PATERNO</th>
      <th scope="col">APELLIDO MATERNO</th>
      <th scope="col">TELEFONO CASA</th>
      <th scope="col">CELULAR</th>
      <th scope="col">CORREO</th>
      <th scope="col">PROGRAMA</th>
      {{!-- <th scope="col">CALLE</th>
      <th scope="col"># EXT</th>
      <th scope="col"># INT</th>
      <th scope="col">COLONIA</th>
      <th scope="col">CODIGO POSTAL</th>
      <th scope="col">MUNICIPIO</th>
      <th scope="col">ESTADO</th>
      <th scope="col">SEXO</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each beneficiarios}}
        <tr>
            <td>{{ID_BENEFICIARIO}}</td>
            <td>{{CURP}}</td>
            <td>{{NOMBRE}}</td>
            <td>{{APELLIDO_PATERNO}}</td>
            <td>{{APELLIDO_MATERNO}}</td>
            <td>{{TEL_CASA}}</td>
            <td>{{TEL_CELULAR}}</td>
            <td>{{CORREO}}</td>
            <td>{{PROGRAMA}}</td>
            {{!-- <td>{{CALLE}}</td>
            <td>{{NUM_EXT}}</td>
            <td>{{NUM_INT}}</td>
            <td>{{COLONIA}}</td>
            <td>{{CODIGO_POSTAL}}</td>
            <td>{{MUNICIPIO}}</td>
            <td>{{ESTADO}}</td>
            <td>{{SEXO}}</td> --}}
        </tr>
    {{/each}}
  </tbody>
</table>
</div>
