<div class="container ">
  <div class="row">
    <div class="col-md-8 text-center mx-auto">
      <div class="card-deck">
      {{#if allAssist}}
        <div class="card mt-2">
          <div class="card-body">
            <p class="card-text text-center">TOTAL DE BENEFICIARIOS PRESENTES: {{allAssist.ASISTENCIA}}</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{allAssist.ASISTENCIA}}" aria-valuemin="0" aria-valuemax="{{allUsers.TOTAL}}" style="width: {{allAssist.ASISTENCIA}}%">{{allAssist.ASISTENCIA}}</div>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if allDelivery}}
        <div class="card mt-2">
          <div class="card-body">
            <p class="card-text text-center">TOTAL DE APOYOS ENTREGADOS: {{allDelivery.ESTATUS_ENTREGA}}</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{allDelivery.ESTATUS_ENTREGA}}" aria-valuemin="0" aria-valuemax="{{allUsers.TOTAL}}" style="width: {{allDelivery.ESTATUS_ENTREGA}}%">{{allDelivery.ESTATUS_ENTREGA}}</div>
            </div> 
          </div>
        </div>
      {{/if}}  
      </div>{{!--End card-deck--}}
    </div>{{!--End col--}}
  </div>{{!--End row--}}
</div>

<hr>

<div class="container-fluid mt-4 mb-4">
      <div class="row">
        <div class="col d-flex justify-content-center ">
          <h4>Búsqueda de beneficiarios</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-7 mx-auto">
          <form action="/links/searchbenef" method="POST">
            <!-- separador -->
            <hr>
            <div class="form-group row">
              <input type="text" class="shadow-input col-9 form-control rounded-pill" name="CURP" placeholder="CURP" >
              <label for="CURP" class="col col-form-label text-center"><i class="material-icons icon-form">search</i></label>
              <button class="btn btn-info col form-control"  >Buscar</button>
            </div>
            <!-- separador -->
            
            <div class="collapse" id="advanced">
              <div class="form-group row">
                <input type="text" class="col form-control shadow-input rounded-pill" name="NOMBRE" placeholder="Nombre(s)" >
                <input type="text" class="col form-control shadow-input rounded-pill" name="APELLIDO_PATERNO" placeholder="Apellido Paterno">
                <input type="text" class="col form-control shadow-input rounded-pill" name="APELLIDO_MATERNO" placeholder="Apellido Materno" >
              </div>
              <!-- separador -->
              <hr>
              <div class="form-group row">
                <input type="text" class="col form-control shadow-input rounded-pill" name="TEL_CELULAR" placeholder="Telefono celular" >
                <input type="text" class="col form-control shadow-input rounded-pill" name="TEL_CASA" placeholder="Telefono de casa" >
              </div>
              <!-- separador -->
              <hr>
              <div class="form-group row">
                <input type="email" class="col form-control shadow-input rounded-pill" name="CORREO" placeholder="Correo">
              </div>
            </div>
            <!-- separador -->
            <hr>
            <div class="form-group row">
              <a class="badge badge-info " data-toggle="collapse" href="#advanced" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Busqueda avanzada
              </a> 
            </div>
            </form>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <table id="table" data-show-columns="true" data-show-columns-toggle-all="true" data-toggle="table"
          data-height="460" data-pagination="true" data-pagination-h-align="right" data-pagination-detail-h-align="left"
          data-pagination-loop="false" data-mobile-responsive="true">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ACCIONES</th>
              <th data-sortable="true" scope="col">ID</th>
              <th data-sortable="true" scope="col">CURP</th>
              <th data-sortable="true" scope="col">NOMBRE</th>
              <th data-sortable="true" scope="col">APELLIDO PATERNO</th>
              <th data-sortable="true" scope="col">APELLIDO MATERNO</th>
              <th data-sortable="true" scope="col">TELEFONO CASA</th>
              <th data-sortable="true" scope="col">CELULAR</th>
              <th data-sortable="true" scope="col">CORREO</th>
              {{!-- <th scope="col">PROGRAMA</th> --}}
              {{!-- <th scope="col">CALLE</th>
          <th scope="col"># EXT</th>
          <th scope="col"># INT</th>
          <th scope="col">COLONIA</th>
          <th scope="col">CODIGO POSTAL</th>
          <th scope="col">MUNICIPIO</th>
          <th scope="col">ESTADO</th>
          <th scope="col">SEXO</th> --}}
            </tr>
          </thead>
          <tbody>
            {{#each listBenef}}
            <tr>
              <td>
                <a href="/links/modifbenef/{{ID_BENEFICIARIO}}" class="btn btn-info btn-sm mt-1 btn-block">Modificar</a>
                <a href="/links/addassist/{{ID_BENEFICIARIO}}"
                  class="btn btn-secondary btn-sm mt-1 btn-block">Asistencia</a>
                <a href="/links/adddelivery/{{ID_BENEFICIARIO}}" class="btn btn-success btn-sm mt-1 btn-block">Entrega</a>
              </td>
              <td >{{ID_BENEFICIARIO}}</td>
              <td>{{CURP}}</td>
              <td>{{NOMBRE}}</td>
              <td>{{APELLIDO_PATERNO}}</td>
              <td>{{APELLIDO_MATERNO}}</td>
              <td>{{TEL_CASA}}</td>
              <td>{{TEL_CELULAR}}</td>
              <td>{{CORREO}}</td>
              {{!-- <td>{{PROGRAMA}}</td> --}}
              {{!-- <td>{{CALLE}}</td>
              <td>{{NUM_EXT}}</td>
              <td>{{NUM_INT}}</td>
              <td>{{COLONIA}}</td>
              <td>{{CODIGO_POSTAL}}</td>
              <td>{{MUNICIPIO}}</td>
              <td>{{ESTADO}}</td>
              <td>{{SEXO}}</td> --}}
              
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
